{% extends "base.html" %}
{%block title %} Login{% endblock %}

{% block content %}

<div id="content">
    <form action="#" method="post">
        <h3>Login</h3>
        <div class="form-group">
            <label for="email">Email:<br></label>
            <input type="email"
                   id="email"
                   name="email" required
                   placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="password">password:<br></label>
            <input type="text"
                   id="password"
                   name="password" required
                   placeholder="Enter password">
        </div>
        <button type="submit">Submit</button>
        <br>
        <a href="/sign-up/">Click here to make a new user</a>
    </form>
</div>


{% endblock %}